html {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.link {
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
  cursor: auto;
}

.font-size {
  font-size: 32px;
  font-weight: 300;
  color: white;
}

.tagline {
  font-size: 21px;
  color: gray;
}

.iphone-img {
  height: 200px;
  width: 100px;
}

footer {
  text-align: right;
  color: gray;
}
